# git
.git
.github
.gitignore

# python cache
__pycache__/
*.pyc
.pytest_cache/

# virtual environment
.venv/

# environment files
.env
.env.*

# ide
.idea/
.vscode/

# terraform local files
**/.terraform/
*.tfstate
*.tfstate.*